body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
p {
    font-size: small;
    width: 100%;
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    font-size: small;
    padding: 1rem 0;
}

{header .container
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0.5rem 0;
}

h1{
    text-align: left;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size:larger;
}

h2{
    text-align: center;
}

h3 {
text-align: left;
font-size: medium;
}
.texto-ajustado {
    width: 55%; /* O cualquier otro valor en porcentaje, píxeles, etc. */
    margin: 0 auto; /* Esto centra el texto horizontalmente */
    text-align: center; /* Esto centra el texto dentro de su contenedor */
}
#contact a {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    margin-right: 10px; /* Espaciado entre los enlaces */
    text-align: left;
}
img{  
    height: 400px;  
    width: 400px;  
    }  

 #center {    
    text-align: center;  
    }  

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.project {
    margin-bottom: 1rem;
}

.project img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: x-small;
}
